.games-list {
	display: flex;
	width: 100%;
}

.filter {
	margin-bottom: 16px;
}

.games-list.list {
	flex-direction: column;
}

.games-list.cards {
	flex-direction: row;
	gap: 16px;
	flex-wrap: wrap;
}
