.games-form {
	color: var(--color-secondary-text);
}

.games-form .ant-divider {
	background-color: var(--color-secondary-text);
}

.game-display {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;
}

.game-meta {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.game-meta-row label {
	margin-right: 16px;
}
