.header.ant-layout-header {
	background-color: var(--color-primary);
	z-index: 1;
	width: "100%";
	font-size: 32px;
	justify-content: center;
	text-align: center;
}

.footer.ant-layout-footer {
	background-color: var(--color-primary);
	text-align: center;
}

.ant-layout {
	background-color: var(--color-primary);
}

.content.ant-layout-content {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 1080px;
	margin: 16px auto;
}

.page {
	background-color: var(--color-background);
	padding: 32px;
	border-radius: 8px;
	margin: 16px 0;
}
