.header.ant-layout-header {
	z-index: 1;
	width: "100%";
	font-size: 32px;
	justify-content: center;
	text-align: center;
}

.footer.ant-layout-footer {
	text-align: center;
}

.content.ant-layout-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1080px;
	width: calc(100% - 32px);
	margin: 16px auto;
	gap: 16px;
}
